.commands {
   display:flex;
   justify-content: space-between;
   align-items: center;

   .commands-menu{
      width:40%;
      .commands-menu__container{
         margin:0;
         list-style:none;
         li {
            transition: 400ms ease;
         }
         a {
            text-decoration: none;
            color: $bgColor;
         }
         .commands-menu__container__button--active {
            background-color: darken($greenColor, 20);
            box-shadow: none;
         }
      }
   }
   .commands__list {
      max-height: 70vh;
      overflow: scroll;
      display:flex;
      flex-direction: column;
      width: min-content;
      padding-right: 7rem;
      gap: 3rem;
   }
}

.command-card {
   width: 50vw;
   .command-card__name {
      margin: 0;
      color: $bgColor;
      background-color: $greenColor;
      padding: 1rem;
      border-radius: 1rem;
      width: 50%;
      text-align: center;
   }
   .command-card__text {
      margin: 0;
      margin-top: .5rem;
      font-size: 2rem;
      color: $greenColor;
      background-color: lighten($bgColor, 13);
      border-radius: 1rem;
      padding: 2rem;
      border-radius: 1rem;
      height: 11rem;
   }
}
