.Header{
   margin: 0 4rem;
   a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-flow: nowrap;
      text-decoration: none;

      .surcrose_logo{
         width:6rem;
         margin-right:.5rem;
         border-radius:10px;
      }

      .title{
         margin:0;
         font-family: Arial, Helvetica, sans-serif;
         font-size:5rem;
         color:$greenColor;
      }
   }

}

@include media(768px) {
   .Header {
      a {
         .surcrose_logo{
            width: 12rem;
         }
         .title {
            font-size: 7rem;
         }
      }
   }
}
