.index-page--center {
   margin: 0 auto;
   background-image: url('../assets/img/background.png');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   height: 100vh;
}
.index-page {
   margin-left: 40%;
   display: grid;
   place-items: center center;
   .index-page__text {
      text-align: center;
      color: $white;
      font-size: 7rem;
      font-weight: bold;
   }
}

