html {
   box-sizing: border-box;
   font-size: 62.5%;
}
*, *::before, *::after {
   box-sizing: border-box;
}
body {
   padding-top: 2rem;
   background-color: $bgColor;
   min-height: 100vh;
   font-family: $font;
   font-size: 1.6rem;
}
.Main {
   margin: 5rem 0;
}
