html {
   box-sizing: border-box;
   font-size: 62.5%;
}
*, *::before, *::after {
   box-sizing: border-box;
}
body {
   height: 100vh;
   max-height: 100vh;
   font-family: $font;
   font-size: 1.6rem;
   background-color: $bgColor;
}
.Main {
   margin: 1rem 0;
}
