html {
   box-sizing: border-box;
   font-size: 62.5%;
}
*, *::before, *::after {
   box-sizing: border-box;
}
body {
   padding-top: 2rem;
   background-image: url('../assets/img/background.svg');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   min-height: 100vh;
   font-family: $font;
   font-size: 1.6rem;
}
.Main {
   margin: 1rem 0;
}
